@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&display=swap');


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'League Spartan', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 700;
    color: white;
}
:root{
    font-size: 33px;
}

body,html{
    width: 100%;
    height: 100%;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
}



.container{
    display: grid;
    grid-template-columns: repeat(4, minmax(2rem,2.9rem));
    row-gap: .4rem;
    width: 70%;
    max-width: 12rem;

    .title{
        font-size: .6rem;
    }
    
    .themes{
    grid-column: 2 / 5;
    margin-left: auto;

    label{
        display: flex;
        flex-direction: row;
        align-items: center;
        font-size: .3rem;

        input{
            width: 1.7rem;
            margin-left: .7rem;
            position: relative;
            &::before{
                content: '1 2 3';
                font-size: .3rem;
                position: absolute;
                left: 6%;
                transform: translate(0, -110%);
                letter-spacing: .2rem;
            }
        }
    }
    }

    .number-input{
        grid-column: 1 / 5;
        border-radius: .3rem;
        padding: .8rem .7rem;
        font-size: 1.5rem;
        text-align: right;
        border: none;
    }

    .buttons{
        display: grid;
        grid-template-columns: repeat(4, minmax(1rem, 3.5rem));
        width: 100%;
        grid-column: 1 / 5;
        padding: .6rem .7rem;
        gap: .4rem;
        border-radius: .3rem;
        height: 100%;
        
        .btn{
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: .3rem;
            padding-block: .25rem;
            font-size: 26px;
            &:hover{
                filter: brightness(1.1);
            }
        }

        
        .reset-btn{
            grid-column: 1 / 3;
            font-size: 17px;
            padding-block: .4rem;
        }
        
        .del-btn{
            font-size: 16px;
        }
        
        .equal-btn{
            grid-column: 3 / 5;
            font-size: 15px;
        }

    
    
        }

}



@import './theme1';
@import './theme2';
@import './theme3';