@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "League Spartan", "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: 700;
  font-size: 32px;
  color: white;
  user-select: none;
}

body, html {
  width: 100%;
  height: 100%;
  background: #3B4664;
}

.container {
  display: grid;
  grid-template-columns: repeat(4, minmax(2rem, 3.4rem));
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  row-gap: 0.5rem;
  width: 70%;
  max-width: 15rem;
}
.container .title {
  font-size: 0.8rem;
}
.container .themes {
  grid-column: 2/5;
  margin-left: auto;
}
.container .themes label {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 0.3rem;
}
.container .themes label input {
  width: 1.7rem;
  margin-left: 0.7rem;
  position: relative;
}
.container .themes label input::before {
  content: "1 2 3";
  font-size: 0.3rem;
  position: absolute;
  left: 6%;
  transform: translate(0, -110%);
  letter-spacing: 0.2rem;
}
.container .number-input {
  grid-column: 1/5;
  background: #181F32;
  border-radius: 0.3rem;
  padding: 0.9rem 0.7rem;
  font-size: 1.5rem;
  text-align: right;
  border: none;
}
.container .buttons {
  display: grid;
  grid-template-columns: repeat(4, minmax(2rem, 24%));
  width: 100%;
  grid-column: 1/5;
  background: #252D44;
  padding: 0.9rem 0.7rem;
  gap: 0.5rem;
  border-radius: 0.3rem;
}
.container .buttons .btn {
  cursor: pointer;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #EAE3DB;
  border-bottom: 4px solid #B0A295;
  border-radius: 0.3rem;
  padding-block: 0.3rem;
}
.container .buttons .reset-btn {
  grid-column: 1/3;
  font-size: 0.7rem;
  background: #647298;
  border-color: #414E71;
  color: white;
}
.container .buttons .del-btn {
  color: white;
  background: #647298;
  border-color: #414E71;
  font-size: 0.7rem;
}
.container .buttons .equal-btn {
  font-size: 0.7rem;
  color: white;
  grid-column: 3/5;
  background: #CE3E2F;
  border-color: #8F2316;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

input[type=range] {
  -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
  width: 100%; /* Specific width is required for Firefox. */
  background: transparent; /* Otherwise white in Chrome */
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type=range]:focus {
  outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}

input[type=range]::-ms-track {
  width: 100%;
  cursor: pointer;
  /* Hides the slider so custom styles can be added */
  background: transparent;
  border-color: transparent;
  color: transparent;
}

/* Special styling for WebKit/Blink */
input[type=range]::-webkit-slider-thumb {
  background: #CF4034;
  width: 0.4rem;
  height: 0.4rem;
  border-radius: 50%;
}

input[type=range]::-webkit-slider-runnable-track {
  padding: 0.1rem;
  border-radius: 1rem;
  background: #252D44;
}

/*# sourceMappingURL=style.css.map */
